.feed-card img {
    width: 100%;
    height: 300px; /* Altura fija para mantener la proporción */
    object-fit: cover; /* Cubrir el contenedor manteniendo la relación de aspecto */
}

.feed-card {
    margin-bottom: 30px;
}
.single-post {
    text-align: center; /* Centrar el contenido horizontalmente */
}

.single-post img {
    display: block; /* Asegura que las imágenes se muestren una debajo de otra */
    margin: 0 auto 10px; /* Centrar horizontalmente y agregar espacio inferior */
    width: 300px; /* Ancho fijo para las imágenes en la vista single post */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Cubrir el contenedor manteniendo la relación de aspecto */
}

.icon-btn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-primary {
    margin-left: 10px;
}

.single-post .card {
    margin-bottom: 20px; /* Espacio entre cada tarjeta de post */
    text-align: left; /* Alinear el texto y la descripción a la izquierda */
}
.dropdown-item#logout {
    color: red !important;
}
@media (max-width: 768px) {
    .single-post img {
        width: 100%; /* Ancho completo en dispositivos móviles */
    }
}